.todo-item {
	width: 100%;
	padding: 20px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--border-bottom);
	span {
		display: flex;
		column-gap: 24px;
		align-items: center;
		img {
			cursor: pointer;
			user-select: none;
		}
		.lite-icon {
			width: 24px;
			height: 24px;
			border-radius: 24px;
			border: 1px solid var(--body-lite-icon);
			cursor: pointer;
		}
		.lite-icon:hover {
			border: 1px solid #c058f3;
		}
		.task {
			color: var(--task-colors);
			font-size: 18px;
			font-family: 400;
			font-family: Josefin Sans;
			letter-spacing: -0.25px;
		}
		.task-done {
			color: var(--task-colors-done);
			font-size: 18px;
			font-family: Josefin Sans;
			letter-spacing: -0.25px;
			text-decoration: line-through;
		}
	}
	.close-icon {
		cursor: pointer;
		img {
			display: none;
		}
	}
}
.todo-item:hover {
	cursor: pointer;
	.close-icon {
		img {
			display: block;
		}
	}
}
